<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>Angular Project</title>
  </head>
  <body>
    <div class="form1">
      <form class="in-form">
        <label for="D_name"><b>District Name </b></label>
        <span class="in1"><input type="text" id="D_name" /></span>
        <br />
        <br />
        <label for="D_area"><b>Area (sq mt) </b></label>
        <span class="in2">
          <input type="text" id="D_area" />
        </span>
        <br />
        <br />
        <label for="D_popu"><b>Population </b></label>
        <span class="in3"><input type="text" id="D_popu" /></span>
        <div class="button">
          <button class="in-button"><b>Save</b></button>
        </div>
      </form>
      <div class="B_dis">
        <p>Biggest District (Area wise)</p>
        <div class="radio-btn">
          <label for="B_dis11"
            ><input type="radio" id="B_dis11" name="D_place" /><span
              class="box_rad11"
              id="rad"
            ></span
            >Chennai</label
          >
          <label for="B_dis12"
            ><input type="radio" id="B_dis12" name="D_place" /><span
              class="box_rad12"
              id="rad"
            ></span
            >Coimbatore</label
          >
          <label for="B_dis13"
            ><input type="radio" id="B_dis13" name="D_place" /><span
              class="box_rad13"
              id="rad"
            ></span
            >Salem</label
          >
        </div>
      </div>
      <div class="B_dis1">
        <p>Highly populated District</p>
        <div class="radio-btn1">
          <label for="B_dis21"
            ><input type="radio" id="B_dis21" name="P_place" /><span
              class="box_rad21"
              id="rad"
            ></span
            >Chennai</label
          >
          <label for="B_dis22"
            ><input type="radio" id="B_dis22" name="P_place" /><span
              class="box_rad22"
              id="rad"
            ></span
            >Coimbatore</label
          >

          <label for="B_dis23"
            ><input type="radio" id="B_dis23" name="P_place" /><span
              class="box_rad23"
              id="rad"
            ></span
            >Salem</label
          >
        </div>
      </div>
    </div>
  </body>
</html>
